.products_index_header {
    background-color: #0b1517;
}

.products_index_inner_header {
    background-image: url(../../assets/images/Assest_1.jpg);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    padding: 3rem 0;

    h2 {
        color: var(--white);
    }

    p {
        color: var(--white);
    }

    .breadcrumb-item {
        color: var(--white);

        a {
            color: var(--white);
            text-decoration: none;
        }
    }

    .content {
        width: 500px;
        padding: 1rem 0;
    }
}

.products_index_main {
    padding: 2rem 0;
}

.products_index_main_title {
    font-size: 1.75rem;
    font-weight: bold;
}

.products_index_main_image {
}

.products_index_main_name {
    font-weight: bold;
    padding: 0.5rem 0 0.25rem;
}

.pointer {
    cursor: pointer;
}

.products_index_main_image {
    // padding: 1px;
    &:hover {
        border: 2px dashed black;
    }
}

.btn_pagin {
    padding: 7px 15px;
    width: fit-content;
    color: black;
    border-radius: 5px;
    display: inline-block;
    margin: 0 2px;
}

.btn_active {
    background-color: var(--black);
    color: var(--white);
}

.products_index_categories {
    padding: 2rem 0;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 1rem;
    }

    .category {
        display: inline-block;
        width: fit-content;
        padding: 6px 16px;
        border-radius: 50px; 
        border: 1px solid var(--black-blue);
        cursor: pointer;
        margin-right: 0.5rem;

        &:hover {
            background-color: var(--black-blue);
            color: white;
        }
    }
}